<html>  
    <head>
        <link href="<%= url %>/assets/css/podcastLinkTree.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
        <title>Scharf Angebraten</title>
    </head>

    <body> 

        <style>
            @font-face {
                font-family: beon;
                src: url("<%= url %>/assets/fonts/beon-webfont.woff");
            }

            body {
                background-image: url("<%= url %>/assets/images/Background\ High.jp2");
            }

        </style>

        <div class="bodyWrapperWrapper">
            <div class="bodyWrapper">
                <img class="headingImage" src="<%= url %>/assets/images/Scharf Angebraten (Schrift).jp2">

                <script>
                    function openPage(url) {
                        window.location.href = url
                    }

                </script>

                <% for (let element in data) { %>
                    <button class="linkButton" onclick="openPage('/link/<%= element %>?id=<%= id %>')">
                        <div class="fill type<%= data[element].type %>">
                            <% if (data[element].image != undefined) { %>
                                <img class="icon" src="<%= data[element].image %>">
                            <% } %>
                            <p><%= data[element].name %></p>
                        </div>
                    </button>
                <% } %>

                <img class="bottomImage" src="<%= url %>/assets/images/Scharf Angebraten (Zeichnung).jp2">
            </div>
        </div>
        
    </body>
</html>